DATA_DIR	Data/synL2/
RESULT_DIR	result/synL2/LC/ReduceEdge/3/20Thres3/synL2/
EXECUTABLE_DIR	executable/

Ground_Truth	layer1.gen;layer2.gen

SingleLayer_Method	LinkCommunity
	candidates	Modularity;Infomap;OSLOM;LinkCommunity;(only_choose_one)

	Modularity_Dir algs/Modularity/
	Infomap_Dir algs/Infomap/
	OSLOM_Dir algs/OSLOM2/
	LinkCommunity_Dir algs/link_clustering/
		LinkCommunity_Thres 0.1


Frameworks	Reduce++;
	candidates	Remove;Reduce++



ReduceFirst	MAX

Framework_CommunitySizeThres 3
Save_CommunitySizeThres 3
Metric_CommunitySizeThres 3

Number_Of_Layers	3
Number_Of_Iteration 20

ShrinkLayerThres 1
Metric	overlap
WeightedGraph	FALSE
